@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{
    overflow: hidden;
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

body{ background: #263545; }

section{ display: flex; width: 80%; height: 500px; margin: auto; margin-top: 8%; color: white; }
section .enlaces-index{ width: 33.33%; height: 100%; }
strong{ margin-left: 25%; font-size: 30px; }
section .index-base{ width: 80%; height: 80%; background-color: #304154; border-radius: 40px; margin-top: 40px; }
section .index-base img{ margin-left: 25%; margin-top: 25%; font-size: 60px; }