@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{
    overflow: hidden;
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    margin: auto;
    display: flex;
    width: 80%;
    height: 40vw;
    border-radius: 30px;
    margin-top: 4%;
    color: white;
}

section .logo-login, section .input-login{ display: block; }
section .logo-login{ background: linear-gradient(to bottom, #76E39B, #469762); width: 40%; }
section .input-login{ background: linear-gradient(to bottom, #485E74, #4E657C); width: 60%; }

.logo-login div, .input-login div{ margin: auto; width: 80%; }
.logo-login .logo-text{ margin-top: 180px; }
.logo-login .logo-img{ margin-top: 30px; }
.logo-login strong{ font-size: 35px; }
.logo-login img{ margin-left: 30%; width: 30%; }
.text-title strong{ font-size: 30px; margin-left: 30px; }
.input-login .text-title{margin-top: 19%;}
.form{ width: 80%; margin: auto; margin-top: 40px; }
.form div{ display: block; }
.form input{ width: 70%; margin-top: 20px; margin-bottom: 20px; background: none; border: 0; border-bottom: 1px solid white; color: white; }
.form button{ border-radius: 18px; width: 17%; height: 35px; border: 0; background-color: #469762; color: white;  margin-left: 20%; margin-top: 40px;}