<div style="text-align: left;">
    <span>Nuevo Codigo: </span><input type="text" maxlength="15"> <br><br>
<span>Selecione el Hato: </span>

<select name="" id="hatosbovino" onclick="actualizar_hatos(this.id);">
    <option value="">Elegir Hato</option>
</select>

<br><br>

<span>Seleccione la raza:</span>
<select name="" id="razasbovino" onclick="actualizar_razas(this.id)" >
    <option value="">Elegir Raza</option>
    <option value="">Brahmán</option>
    <option value="">Brangus</option>
    <option value="">Pardo suizo</option>
</select>

<br><br>
<span>Vacunas: </span> <select name="" id="">
    <option value="">Elegir vacunas</option>
    <option value="Brucelosis">Brucelosis</option>
    <option value="Leptospirosis">Leptospirosis</option>
    <option value="Complejos IBR-DVB">Complejos IBR-DVB</option>
</select>
<br><br>
        
<span>Ultima Fecha de Vacuna:</span>   <input type="date">
<br><br>
<span>Ultima Fecha de Parto:</span><input type="date">
 <br>  <br>
<span>Ultima Fecha de Celo:</span><input type="date">
<br><br>

</div>

<script>
    
</script>

