<form action="agregarbovino" method="post" id="bovinoformenviar" onsubmit="enviar_bovino(this);">
{% csrf_token %}
    <div style="text-align: left;">
    <span>Nuevo Codigo: </span><input name="codigobovino" type="text" maxlength="15"> <br><br>
<span>Selecione el Hato: </span>

<select name="hatosbovino" id="hatosbovino" onfocus="actualizar_hatos(this.id);">
    <option value="">Elegir Hato</option>
</select>

<br><br>

<span>Seleccione la raza:</span>
<select name="razabovino" id="razasbovino" onfocus="actualizar_razas(this.id)" >
    <option value="">Elegir Raza</option>
</select>

<br><br>
<span>Vacunas: </span> <select name="vacunasbovino" id="vacunasbovino" onfocus="actualizar_vacunas(this.id);">
    <option value="">Elegir vacunas</option>
</select>
<br><br>
        
<span>Ultima Fecha de Vacuna:</span>   <input name="fechavacunabovino"  type="date">
<br><br>
<span>Ultima Fecha de Parto:</span><input name="fechaultimopartobovino" type="date">
 <br>  <br>
<span>Ultima Fecha de Celo:</span><input name="fechaultimocelobovino" type="date">
<br><br>

</div>


</form>

<script>
    
</script>

