{% extends "inventario/base.html" %}
{% load static %}

{% block title %}
    Listado
{% endblock %}
    

{% block body %}
    <div class="fondo-inventario-title">
        <strong>Inventario</strong>
        <div class="fondo-inventario-bottom">
            <select name="hato" id="hato" onchange="actualizar_inventario();">
                <option value="">Seleccionar Hato</option>
            </select>
            <button><b>+</b></button>
            <button onclick="agregar_bovino();"><b>+ </b><img class="iconoBarraLateral" src="{% static 'inventario/assets/inventario.png' %}" alt=""></button>
        </div>
    </div>
    <div class="fondo-inventario-contenido" style="padding-left:20px;">
        <br><br>
        <table class="tablaInventario">
            <tr>
                <th>CODIGO</th>
                <th>HATO</th>
                <th>VACUNAS</th>
                <th>PARTOS</th>
                <th>ULTIMO P</th>
                <th>CELO</th>
            </tr>

            <tr>
                <td>001</td>
                <td>1</td>
                <td>3</td>
                <td>5</td>
                <td>13/06/2022</td>
                <td>13/06/2022</td>
            </tr>
            <tr>
                <td>001</td>
                <td>1</td>
                <td>3</td>
                <td>5</td>
                <td>13/06/2022</td>
                <td>13/06/2022</td>
            </tr>
            <tr>
                <td>001</td>
                <td>1</td>
                <td>3</td>
                <td>5</td>
                <td>13/06/2022</td>
                <td>13/06/2022</td>
            </tr>
        </table>


    </div>
    <script src="{% static 'inventario/JS/inventario.js' %}"></script>
    
    <script>actualizar_hatos("hato");</script>
{% endblock %}

