{% extends "inventario/base.html" %}
{% load static %}

{% block title %}
    Listado
{% endblock %}
    

{% block body %}
    <div class="fondo-inventario-title">
        <strong>Inventario</strong>
        <div class="fondo-inventario-bottom">
            <select name="" id="">
                <option value="">Seleccionar Hato</option>
                
            </select>
            <button><b>+</b></button>
            <button><b>+ </b><img class="iconoBarraLateral" src="{% static 'inventario/assets/inventario.png' %}" alt=""></button>
        </div>
    </div>
    <div class="fondo-inventario-contenido">



    </div>
{% endblock %}

