@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{ font-family: 'Mukta', sans-serif; overflow: hidden; margin: 0; padding: 0; }

body{ display: flex; }
a{ text-decoration: none; color: black; }
input{ border: 0; border-bottom: 1px solid black; width: 250px; }

/* ========================= BARRA LATERAL ========================= */

.barraLateral{ width: 20%; height: 100vh; display: block; }
.barraLateral-logo{ margin: auto; }
.barraLateral-logo img{ margin-top: 20px; margin-left: 50px; margin-bottom: 120px; width: 130px; height: 140px; }
.enlacesBarraLateral{ margin: auto; width: 60%; font-size: 20px; display: flex; margin-top: 20px; }
.enlacesBarraLateral:hover{ border-bottom: 1px solid black; color: #469762; }
.logout{ margin-top: 80%; }
.recuadro-iconoBarraLateral{ margin-right: 10px; }
.recuadro-iconoBarraLateral .iconoBarraLateral{ margin-top: 10%; }
.iconoBarraLateral{ width: 25px; height: 25px; }

/* ========================= CONTENIDO ========================= */

.fondo-contenido{
    width: 100vw;
    height: 100vh;
    background-color: #e5e5e5;
}

/* ========================= SECCION AFECTABLE ========================= */

/* ------------------------- INVENTARIO ------------------------- */
.fondo-inventario-title{
    padding: 15px 0 10px 70px;
    font-size: 35px;
    color: black;
    display: flex;
}

.fondo-inventario-title button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.fondo-inventario-bottom{
    margin-left: 40%;
}

.fondo-inventario-bottom select{
    width: 90px;
    height: 30px;
    margin-right: 80px;
}

.fondo-inventario-bottom .iconoBarraLateral{
    margin-bottom: -6px;
}

.fondo-inventario-contenido{
    width: 79%;
    height: 85%;
    margin-left: 1.7%;
    border-radius: 20px;
    background-color: white;
}
/* ------------------------- AGREGAR A INVENTARIO ------------------------- */
.agregar-codigoHato-inventario{
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}

.agregar-fechaBovino-inventario{
    margin-top: 40px;
    display: flex;
    font-size: 20px;
}

.fondo-inventario-bottom > select {
    width: fit-content;
}

.codigoBovino, .hatoBovino{ width: 50%; height: 40px; }
.codigoBovino label{ margin-left: 35px; margin-right: 10px; }
.hatoBovino label{ margin-right: 10px; margin-left: 60%; }
.hatoBovino select{ width: 50px; }
.ultimaVacuna, .ultimoParto, .ultimoCelo{ width: 80%; height: 30px; margin-top: 10px; }
.ultimaVacuna label, .ultimoParto label, .ultimoCelo label{ margin-left: 35px; margin-right: 10px; }
.ultimaVacuna label{ margin-right: 20px; } .ultimoParto label{ margin-right: 34px; } .ultimoCelo label{ margin-right: 45px; }
.ultimaVacuna input, .ultimoParto input, .ultimoCelo input{ width: 140px; font-size: 20px; }
.agregar-raza-inventario select{ font-size: 15px; margin-top: 20px; }
.flex-inventario, .agregar-raza-inventario{ width: 50%; }
.agregar-raza-inventario select{ width: 170px; margin-left: 10px; }

.tablaInventario{ width: 90%; margin-left: 4%; margin-top: 2%; border-collapse: collapse; }
.tablaInventario td{ text-align: center; }
.tablaInventario td, th{ border: 1px solid #dddddd; }
.tablaInventario tr:nth-child(even) { background-color: #dddddd; }