{% extends "registros/base.html" %}
{% load static %}

{% block title %}
    Listado
{% endblock %}
    

{% block body %}
    <div class="fondo-inventario-title">
        <strong>Registros</strong>
        <div class="fondo-inventario-bottom">
            <select name="hato" id="hato">
                <option value="">Seleccionar Hato</option>
            </select>
            <button><b>+</b></button>
            <button><b>+ </b><img class="iconoBarraLateral" src="{% static 'inventario/assets/inventario.png' %}" alt=""></button>
        </div>
    </div>
    <div class="fondo-inventario-contenido">
        <br>
        <div class="filtros">
            <select name="" id="">
                <option value="">Mes de registro</option>
            </select>

            <select name="" id="">
                <option value="">Ordenar por</option>
            </select>
            <select name="" id="">
                <option value="">Ultimo</option>
                <option value="">Primero</option>
            </select>

        </div>
        <table>
            <thead></thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>


    </div>
{% endblock %}

