{% extends "registros/base.html" %}
{% load static %}

{% block title %}
Listado
{% endblock %}


{% block body %}

<style>
    .contenido-interno{
        margin: 5%;
    }
</style>
<div class="fondo-inventario-title">
    <strong>Registros</strong>
    <div class="fondo-inventario-bottom">
        <select name="hato" id="hato">
            <option value="">Seleccionar Hato</option>
        </select>
        <button><b>+</b></button>
        <button><b>+ </b><img class="iconoBarraLateral" src="{% static 'inventario/assets/inventario.png' %}"
                alt=""></button>
    </div>
</div>
<div class="fondo-inventario-contenido">
    <div class="contenido-interno">
        
        
        <div class="tabla-int">
            
            <div class="contendor">
                <h3>Control de producion</h3>
                <div class="filtros">


                    <input type="text" id="q" placeholder="Buscar por codigo"> <button onclick="actualizar_bovino"><img src="{% static 'inventario/assets/lupa.svg' %}" alt="No cargo la imagen" width="10pt"></button>
        
                    <select name="" id="meses">
                        <option value="">Mes de registro</option>
                    </select>
                    <select name="" id="ordenarpor">
                        <option value="">Ultimo</option>
                        <option value="">Primero</option>
                    </select>
        
                </div> 
            </div>
        </div>
    </div>
    <table class="tablaInventario">
        <tr>
            <th>Fecha Registrada</th>
            <th>Codigo</th>
            <th>Produccion</th>
            <th></th>
            <th>Registrado</th>
            <th>Digitador</th>
        </tr>

        <tr>
            <td>23/11/2022</td>
            <td>#0023</td>
            <td>25 ltrs</td>
            <td></td>
            <td>13/06/2022</td>
            <td>A_Rios</td>
        </tr>

        <tr>
            <td>23/11/2022</td>
            <td>#0026</td>
            <td>30 ltrs</td>
            <td></td>
            <td>13/06/2022</td>
            <td>A_Rios</td>
        </tr>
        <tr>
            <td>23/11/2022</td>
            <td>#0027</td>
            <td>30 ltrs</td>
            <td></td>
            <td>13/06/2022</td>
            <td>A_Rios</td>
        </tr>
    </table>

    <div class="contenido-interno">
        
        
        <div class="tabla-int">
            
            <div class="contendor">
                <h3>Control de Ventas</h3>
                <div class="filtros">


                    <input type="text" id="q" placeholder="Buscar por codigo"> <button onclick="actualizar_bovino"><img src="{% static 'inventario/assets/lupa.svg' %}" alt="No cargo la imagen" width="10pt"></button>
        
                    <select name="" id="meses">
                        <option value="">Mes de registro</option>
                    </select>
                    <select name="" id="ordenarpor">
                        <option value="">Ultimo</option>
                        <option value="">Primero</option>
                    </select>
        
                </div> 
            </div>
        </div>
    </div>
    <table class="tablaInventario">
        <tr>
            <th>Fecha Registrada</th>
            <th>Codigo</th>
            <th>Cantidad Vendida</th>
            <th>Precio de venta</th>
            <th>Total</th>
            <th>Registrado</th>
            <th>Digitador</th>
        </tr>

        <tr>
            <td>23/11/2022</td>
            <td>#0027</td>
            <td>30 ltrs</td>
            <td>C$ 35</td>
            <td>C$ 1, 050</td>
            <td>13/06/2022</td>
            <td>A_Rios</td>
        </tr>
        <tr>
            <td>23/11/2022</td>
            <td>#0027</td>
            <td>30 ltrs</td>
            <td>C$ 35</td>
            <td>C$ 1, 050</td>
            <td>13/06/2022</td>
            <td>A_Rios</td>
        </tr>
        <tr>
            <td>23/11/2022</td>
            <td>#0027</td>
            <td>30 ltrs</td>
            <td>C$ 35</td>
            <td>C$ 1, 050</td>
            <td>13/06/2022</td>
            <td>A_Rios</td>
        </tr>
    </table>




    </div>
    

</div>
{% endblock %}